worker_processes auto;
pid /var/run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    # Global headers for all responses
    add_header X-Content-Type-Options "nosniff"          always;
    add_header X-XSS-Protection       "0"                always;
    add_header Referrer-Policy        "strict-origin-when-cross-origin" always;

    sendfile              on;
    keepalive_timeout     1200;
    send_timeout          3600;
    client_body_timeout   3600;
    client_header_timeout 3600;
    client_max_body_size  0;

    log_format main '$remote_addr - $remote_user [$time_local] '
                    '($request_time) $http_x_request_id "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';
    access_log /var/log/nginx/access.log main;

    gzip on;
    gzip_http_version 1.0;
    gzip_comp_level 5;
    gzip_types *;
    gzip_min_length 860;
    gzip_proxied any;

    resolver ${DNS_RESOLVERS} valid=10s ipv6=off;

    map $http_upgrade $connection_upgrade {
        default upgrade;
        ''      close;
    }

    server {
        listen 8080;
        listen [::]:8080;
        error_log /var/log/nginx/error.log warn;

        server_tokens off;
        large_client_header_buffers 4 8k;
        proxy_buffer_size            128k;
        proxy_buffers                4 256k;
        proxy_busy_buffers_size      256k;

        proxy_http_version 1.1;
        proxy_set_header Upgrade     $http_upgrade;
        proxy_set_header Connection  $connection_upgrade;
        proxy_redirect off;
        port_in_redirect off;
        absolute_redirect  off;

        proxy_connect_timeout 3600;
        proxy_read_timeout    3600;
        proxy_send_timeout    3600;

        # Decline suspicious URL-encodings
        if ($request_uri ~* "%[0-1][0-9A-Fa-f]") {
            return 400;
        }

        # API endpoints proxifying to backend. Static upstream resolution
        location ~ ^/(?:api|ws|saml|login/gitlab|login/sso|debug|playground)(?:/.*)?$ {
            add_header Cache-Control "no-store" always;
            proxy_pass http://${APIHUB_BACKEND_ADDRESS};
        }

        # Special section for apihub-nc (rewrite required). Dynamic upstream resolution
        location /apihub-nc {
            set $apihub_nc_upstream http://${APIHUB_NC_SERVICE_ADDRESS};

            add_header Cache-Control "no-store" always;
            rewrite ^/apihub-nc/(.*)$ /$1 break;

            proxy_pass $apihub_nc_upstream;

            proxy_connect_timeout 1s;
            proxy_next_upstream off;
            proxy_intercept_errors off;
        }

        # Special section for api-linter (rewrite required). Dynamic upstream resolution
        location ^~ /api-linter {
            set $api_linter_upstream http://${API_LINTER_SERVICE_ADDRESS};

            add_header Cache-Control "no-store" always;
            rewrite ^/api-linter/(.*)$ /$1 break;

            proxy_pass $api_linter_upstream;

            proxy_connect_timeout 1s;
            proxy_next_upstream off;
            proxy_intercept_errors off;
        }

         # Special section for agents-backend (rewrite required). Dynamic upstream resolution
         location ^~ /agents-backend {
            set $agents_backend_upstream http://${APIHUB_AGENTS_BACKEND_ADDRESS};

            add_header Cache-Control "no-store" always;
            rewrite ^/agents-backend/(.*)$ /$1 break;

            proxy_pass $agents_backend_upstream;

            proxy_connect_timeout 1s;
            proxy_next_upstream off;
            proxy_intercept_errors off;
        }

        location ~ ^/(portal|agents)/version\.json$ {
            root /usr/share/nginx/html;
            add_header Cache-Control "no-store" always;
            try_files $uri =404;
        }

        location ~ ^/(portal|agents)/index\.html$ {
            root /usr/share/nginx/html;
            add_header Cache-Control             "no-store" always;
            add_header Strict-Transport-Security "max-age=15768000; includeSubdomains; preload;" always;
            add_header X-Frame-Options           "DENY" always;
            add_header Content-Security-Policy   "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self' data:; connect-src 'self'" always;
        }

        location ~* ^/agents/.*\.(?:js|css|woff2?|ttf|svg|png)$ {
            add_header Cache-Control "public, max-age=604800, immutable";
            root /usr/share/nginx/html;
        }

        location /agents {
            root /usr/share/nginx/html;
            index /agents/index.html;
            try_files $uri $uri/ /agents/index.html;

            proxy_cookie_path / "/; secure; HttpOnly";
            add_header Cache-Control             "no-cache"                                      always;
            add_header Strict-Transport-Security "max-age=15768000; includeSubdomains; preload;" always;
            add_header X-Frame-Options           "DENY"                                          always;
            add_header Content-Security-Policy   "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self' data:; connect-src 'self'" always;
        }

        location ~* ^/portal/.*\.(?:js|css|woff2?|ttf|svg|png)$ {
            add_header Cache-Control "public, max-age=604800, immutable";
            root /usr/share/nginx/html/portal;
        }

        location /portal {
            root /usr/share/nginx/html;
            index /portal/index.html;
            try_files $uri $uri/ /portal/index.html;
            proxy_cookie_path / "/; secure; HttpOnly";

            add_header Cache-Control             "no-cache"                                      always;
            add_header Strict-Transport-Security "max-age=15768000; includeSubdomains; preload;" always;
            add_header X-Frame-Options           "DENY"                                          always;
            add_header Content-Security-Policy   "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self' data:; connect-src 'self'" always;
        }

        location ~* \.(?:js|css|woff2?|ttf|svg|png)$ {
            add_header Cache-Control "public, max-age=604800, immutable";
            root /usr/share/nginx/html/portal;
        }

        location / {
            root /usr/share/nginx/html/portal;
            index /index.html;
            try_files $uri $uri/ /index.html;
            proxy_cookie_path / "/; secure; HttpOnly";

            add_header Cache-Control             "no-cache"                                      always;
            add_header Strict-Transport-Security "max-age=15768000; includeSubdomains; preload;" always;
            add_header X-Frame-Options           "DENY"                                          always;
            add_header Content-Security-Policy   "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self' data:; connect-src 'self'" always;
        }

        # Health-checks
        location /health             { default_type application/json; return 200 '{"status":"UP"}'; }
        location /probes/live        { default_type application/json; return 200 '{"status":"UP"}'; }
        location /probes/ready       { default_type application/json; return 200 '{"status":"UP"}'; }

        error_page 404 /404.html;
        location = /404.html {
            root /var/www/error;
            internal;
        }

        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
            root /var/www/error;
            internal;
        }

        error_page 400 401 402 403 405 409 410 411 412 413 414 415 416 417 418 421 422 423 424 425 426 428 429 431 451 501 505 506 507 508 510 511 /default_error.html;
        location = /default_error.html {
            ssi on;
            root /var/www/error;
            internal;
        }
    }
}
